# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
@denisibanez:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
